h1{
    font-weight: bold;
    color: blue;
}

.icecream{
    background-color: pink;
    color: purple;
}

.pizza{
    background-color: red;
    color: yellow;
}

ul{
    font-family: 'Times New Roman', Times, serif;
}